/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* ensure border and padding are part of width */
}


body{
    background-color: #cccccc;
    font-family: "Open Sans", sans-serif;
    font-size: 100%; /* 16px */
    color: #000000;
}

h1{
    padding-bottom: 10px;
    font-size: 2.25em; /* 36px / 16px = 2.25em */
    font-weight: normal;
    
}

h2{
    padding-bottom: 10px;
    font-size: 2.125em; /* 34px / 16px = 2.125em */
    font-weight: normal;
}

h3{
    padding-bottom: 10px;
    font-size: 2em; /* 32px / 16px = 2em */
    font-weight: normal;
}

p{
    padding-bottom: 10px;
    line-height: 1.2;
}

/* make images responsive */
img{
    max-width: 100%;
    height: auto;
    
}

#container{
    background-color: #ffffff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    
}

#header{
    background-color: palevioletred;
    height: 200px;
    flex: 1 0 100%;
}

#nav{
    background-color: paleturquoise;
    flex: 1 0 100%;
    padding: 10px;
}

#nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#nav a:link, #nav a:visited{
    color: #fff;
    text-decoration: none;
    background-color: #757575;
    /* width: 150px; */
    display: block;
    margin-right: 10px;
    /* text-align: center; */
    padding: 5px 10px; /* 5px = top & bottom, 10px = right & left */
    border-radius: 10px;
}

#nav a:hover, #nav a:active{
    background-color: #333;
}



#main{
    background-color: palegreen;
    flex: 1 1 70%; /* 800px */
    padding: 10px;
}

#main h1{
    color: #f0f;
}

#sidebar1{
    background-color: palegoldenrod;
    flex: 1 1 30%;
    padding: 10px;
}

#footer{
    background-color: lavender;
    flex: 1 0 100%;
    padding: 10px
}

/* media queries for tablet screens 800px or smaller */
@media screen and (max-width: 800px){

    /* body{
        background-color: #333;
    } */

    #header{
        height: 100px;
    }


    /* #nav ul{
   
    justify-content: end;
} */

    #nav a:link, #nav a:visited{
    
        padding: 10px 20px; 
        margin-right: 20px;
}

#main{
    flex: 1 1 60%;
    padding: 20px;
}

#sidebar1{
    flex: 1 1 40%;
    padding: 20px;
}

#footer{
    padding: 20px;
}

    
}

/* media queries for mobile screens 600px or smaller */
@media screen and (max-width: 600px){

    /* body{
        background-color: yellowgreen;
    } */

    #header{
        height: 50px;
    }

    #container{
        flex-direction: column;
    }

    #nav{
        display: none;
    }

    #nav ul{
        flex-direction: column;
        align-items: stretch;
    }

    #nav a:link, #nav a:visited{
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center;
    }

    #footer{
        text-align: center;
    }





}